.Day {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dddddd;
    padding: 20px;
    background-color: transparent;
}

.Description {
    display: flex;
    font-size: large;
    font-weight: 500;
}

.Description > :first-child {
    margin-right: 10px;
}

